
/* ************** */
/*    GENERAL     */
/* ************** */

.App {
  text-align: center;
}

button {
  font-size: calc(10px + 2vmin);
  margin: 50px auto;
  padding: 5px;
  width: 15%;
  
}

.contenedor{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
}

/* ************** */
/*    Navigation  */
/* ************** */
.navigation {
  font-size: 1.5em;
  background-color: aliceblue;
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
}

/* ************** */
/*Persona Styles  */
/* ************** */

table{
  width: 100%;
}

thead{
  position: sticky;
  top: 0;
  background: #ABDD93;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

td{
  padding: 5px;
}

td a {
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  padding: 0px 5px;
  margin:  0px 3px;
  cursor: pointer;
  user-select: none;
}

.delete{
  background-color: red;
  color: white  ;
}

.tableContenedor{
  height: 400px;
  overflow: auto;
  border: 1px solid black;
}